.card{
    color: hsl(150, 100%, 66%);
    background-color: hsl(217, 19%, 24%);
    padding: 3rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    font-family: 'Manrope', sans-serif;
    text-align: center;
    border-radius: 1rem;
    width: 475px;
    gap: 2rem;
    position: relative;
}
.card img{
    width: 100%;
}
.card p{
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    margin: 0;
}
.quote{
    color: hsl(193, 38%, 86%);
    font-size: 28px;
    font-weight: 800;
}
.button{
    background-color: hsl(150, 100%, 66%);
    cursor: pointer;
    border: none;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translate(-50%,50%);
    box-sizing: border-box;
    height: 4rem;
    width: 4rem;
    border-radius: 4rem;
}
.button img{
    width: unset;
}
.button:hover{
    box-shadow: hsl(150, 100%, 66%) 0 0 3rem;    
}
@media (width<585px) {
    .card{
        width: 100%;
    }
}